{% extends "base_dosen.html" %}

{% block content %}
<div class="container-fluid">
    <h1 class="mt-4" style="text-align: center;">FORUM {{data.nama_mitra}}</h1>
    <button type="button" class="btn btn-warning mb-4 rounded-pill" data-toggle="modal"
    data-target="#" style="background-color:rgb(255, 214, 0); color: black;">
    <span><span>&#43;</span><b> BUAT POSTINGAN </b></span>
    </button>
    <div class="form-group">
        <textarea class="form-control" rows="5" id="comment"></textarea>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card-body">
                <div class="card" style="width: ">
                    {% for d in chat %}
                    <div class="card card-primary card-outline">
                        <div class="card-header">
                            <h5 class="card-title m-0">SIM-Labsos</h5>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{d.nama_mitra}}</h4>

                            <p class="card-text">{{d.waktu}}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}