{% extends "base.html" %}

{% block content %}
<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid">
      <h1 class="mt-4 mb-4" style="text-align: center;">Daily Report</h1>
      <div class="row">
        <div class="col">
          <div class="card-body">
            <button type="button" class="btn btn-primary btn-lg mb-4 rounded-pill" data-toggle="modal" data-target="#tambah">
              <span><span>&#43;</span> T U L I S </span>
            </button>
            <div>
              {% for d in data %}
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <div class="text-value-xl">{{d.tgl_kegiatan}}</div>
                    </div>
                    <div class="col">
                      <div class="text-value-xl">{{d.judul}}</div>
                    </div>
                    <div class="col text-right">
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#detail-{{d.id}}">
                        <i class="fas fa-eye"></i></button>
                      <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-{{d.id}}">
                        <i class="fas fa-trash-alt"></i></button>
                    </div>
                  </div>
                </div>
                <!-- <td>
                    {% for img_obj in d.catatan.all %}
                    <a href="{{img_obj}}">File</a>
                    {% endfor %} </td>
                  <td> -->



                <!-- Modal Detail -->
                <div class="modal fade" id="detail-{{d.id}}" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="detail">Detail Data</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="card">
                          <div class="username">
                            Tanggal Kegiatan : {{d.tgl_kegiatan}}
                          </div>
                        </div>
                        <!-- <div class="">
                          Owner : {{d.owner}}
                        </div> -->
                        <div class="position">
                          Judul : {{d.judul}}
                        </div>
                        <div class="office">
                          Uraian : {{d.ket}}
                        </div>
                        <div class="age">
                          {% for img_obj in d.catatan.all %}
                          <a href="{{img_obj}}">File</a>
                          {% endfor %}
                        </div>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- modal delete -->
                <div class="modal fade" id="delete-{{d.id}}" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="delete">Delete Data LAB-SOS</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="modal-body">
                          <p> Do You want To delete
                            <strong>{{d.id}}</strong>?</p>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button class="btn" type="button" data-dismiss="modal" aria-label="Close">
                          No
                        </button>
                        <a href="/catatan/{{d.id}}/delete" type="submit" class="btn btn-danger">Yes</a>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}

                <!-- Modal input -->
                <div class="modal fade" id="tambah" tabindex="-1" role="dialog"
                  aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="input">Tambah Catatan</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <form action="" method="post" class="mt-3" enctype="multipart/form-data">
                          {% load crispy_forms_tags %}
                          {% csrf_token %}
                          {{ form|crispy }}
                          {{ form_catatan|crispy }}
                          {{ form_gambar|crispy }}
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Input</button>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  </main>
</div>

{% endblock %}
<!-- <style>
  .btn-purple {
  color: #fff;
  background-color: #6f42c1;
  border-color: #643ab0;
}
.modal-body div{float:left; width: 100%}
.modal-body div p{float:left; width: 20%; font-weight: 600;}
.modal-body div span{float:left; width: 80%}
</style>
<script>
  jQuery(document).ready(function($) {
  $('#example').DataTable({
      searching: false,
      responsive: true,
      "autoWidth": false,
  });
  var table = $('#example').DataTable();
  $('#example tbody').on('click', 'tr', function () {
      //console.log(table.row(this).data());
      $(".modal-body div span").text("");
      $(".username span").text(table.row(this).data()[0]);
      $(".position span").text(table.row(this).data()[1]);
      $(".office span").text(table.row(this).data()[2]);
      $(".age span").text(table.row(this).data()[3]);
      $("#myModal").modal("show");
  });
} );
</script> -->
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>