{% extends "base.html" %}

{% block content %}
<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid">
      <h1 class="mt-4">DATA MITRA</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Input Data Mitra</li>
      </ol>
      <div class="row">
        <div class="col-md-12">
          <div class="card-body">
            <div class="table-responsive">
              <!-- Button trigger modal -->
              <button type="submit" class="btn btn-primary mb-4" data-toggle="modal" data-target="#exampleModalCenter">
                Input
              </button>
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Alamat</th>
                    <th scope="col">Deskripsi Mitra</th>
                    <th scope="col">PIC</th>
                    <th scope="col">Nomer Telepon</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tr>
                  {% for d in data %}
                </tr>
                <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{d.nama_mitra}}</td>
                  <td>{{d.alamat}}</td>
                  <td>{{d.deskripsi}}</td>
                  <td>{{d.pic}}</td>
                  <td>{{d.telp}}</td>
                  <td>
                    <a class="btn btn-sm btn-success" href="/mitra/{{d.id}}">Detail</a>
                    <a class="btn btn-sm btn-warning" href="/mitra/{{d.id}}/update">Update</a>
                    <a class="btn btn-sm btn-danger" href="/mitra/{{d.id}}/delete">Delete</a>
                  </td>
                </tr>
                {% endfor %}
              </table>
              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Input Mitra PKL</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="" method="post" class="mt-3" enctype="multipart/form-data">
                        {% load crispy_forms_tags %}
                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Input</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>

</html>